//RWD (width is higher than 412, lower than 1280)
@media only screen and (max-width: 1250px) {

    .to_top {
        right: 18px;
        bottom: 5%;
    }

}

//RWD (width is lower than 420)
@media only screen and (max-width: 420px) {

    .to_top {
        right: 3px;
        bottom: 4%;
    }

}