//RWD (width is higher than 412, lower than 1280)
@media only screen and (max-width: 1250px) {
    #home {

        .pined_post {
            display: block;

            #official_info,
            #index {
                width: 92%;
                margin: 5% 0;
                padding: 4% 6%;
            }
        }

    }
}

//RWD (width is lower than 412)
@media only screen and (max-width: 420px) {
    #home {

        .pined_post {
            display: block;

            #web_info {
                width: 100%;
                text-align: center;
                font-size: larger;
                font-weight: bolder;
            }

            #official_info,
            #index {
                width: 88%;
                margin: 6% 0;
                padding: 6% 8%;
            }
        }

    }
}