#home {
    height: 100vh;

    .pined_post {
        display: flex;
        justify-content: space-between;
        // padding: 2% 0;

        #web_info {
            width: 100%;
            // width: 82%;
            text-align: center;
            font-size: larger;
            font-weight: bolder;
        }

        #official_info,
        #index {
            width: 45%;
            // width: 35%;
        }
    }

}