//RWD (width is higher than 412, lower than 1280)
@media only screen and (max-width: 1250px) {

    .to_top {
        right: 18px;
        bottom: 5%;

        a {
            padding: 3px;
        }
    }

}

//RWD (width is lower than 412)
@media only screen and (max-width: 420px) {

    .to_top {
        right: 3px;
        bottom: 4%;

        a {
            padding: 2px;
        }
    }

}