.page_main {
    padding-bottom: 30px;

    .page_title {
        font-size: 3vh;
        border-bottom: 2px solid white;
        margin-bottom: 1vh;
    }

    .page_main_container {
        position: relative;

        .page_main_content {
            font-size: 22px;
        }

    }

    button {
        padding: 3px 6px;
        color: white;
        border: 2px solid white;
        border-radius: 10px;
        margin-right: 20px;
        margin-top: 10px;
        font-size: 16px;
        background-color: #266666;
        cursor: pointer;
    }

}

.modifier_container {
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;

    .modifier {
        padding: 2% 2%;
        width: 25%;

        .modifier_title {
            font-size: large;
            font-weight: bolder;
            border-bottom: 1px solid white;
            padding-bottom: 1%;
        }

        .modifier_content {
            padding-top: 5px;

             div {
                padding-left: 5px;
                margin-top: 5px;
             }
        }
    }

    
}



.page_sub {
    padding-top: 8vh;

    .page_sub_title {
        font-size: 24px;
        border-bottom: 1px solid rgb(231, 231, 231, 0.8);
        margin-bottom: 1vh;
    }
}