//RWD (width is higher than 412, lower than 1280)
@media only screen and (max-width: 1250px) {

    .rune_box_container {
        display: block;
    
        .rune_red_container,
        .rune_green_container {
            width: 100%;
            border-right: none;
        }
    
        .rune_blue_container {
            width: 100%;
        }
    
        .rune_box {
            margin: 10px 0 10px 10px;
            font-size: 18px;
    
            img {
                width: 50px;
            }
    
            .rune_box_name {
                margin-left: 5%;
            }
        }
    
    }


}

//RWD (width is lower than 412)
@media only screen and (max-width: 420px) {}