//RWD (width is higher than 412, lower than 1280)
@media only screen and (max-width: 1250px) {

    .page_main {

        button {
            margin-right: 15px;
        }

    }

    .page_form_container {

        table {

            tr {

                .essence_content {
                    padding: 0 5px;
                    width: 100px;
                }

                .essence_effect {
                    padding: 0 5px;
                    font-size: 12px;
                }

            }
        }
    }


    .page_sub {
        padding-top: 8vh;

        .page_sub_title {
            font-size: 24px;
            border-bottom: 1px solid rgb(231, 231, 231, 0.8);
            margin-bottom: 1vh;
        }
    }


}

//RWD (width is lower than 412)
@media only screen and (max-width: 420px) {
    .page_main {

        .page_title {
            font-size: 4vh;
        }

        button {
            margin-right: 10px;
            font-size: 14px;
        }
    }

    .page_form_container {

        table {

            tr {
                font-size: 12px;

                .essence_content {
                    padding: 3px 3px;
                }

                .essence_effect {
                    width: 140px;
                    padding: 3px 5px;
                }

            }
        }
    }

    .page_sub {

        .img_frame {
            display: block;

            .page_img_container {
                width: 100%;
                margin-bottom: 5%;
            }

            .page_sub_img {
                width: 100%;
                display: block;
            }
        }
    }

}