html {
    background-image: url(../public/img/web/bg2.jpg);
    background-repeat: repeat;
    background-size: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        color: rgb(231, 231, 231);
    }

    // firefox滾動卷軸隱藏
    scrollbar-width: none;
    overflow-y: scroll;

    // Chrome/Edge滾動卷軸隱藏
    ::-webkit-scrollbar {
        display: none;
    }
}



.main_container {
    // border: 1px solid red;
    margin: 0 auto;
    width: 70%;
    box-sizing: border-box;
    padding-top: 12vh;
    color: white;

    .link_to_other_web {
        color: rgb(83, 137, 253);

        &:hover {
            border-bottom: 1px solid rgb(83, 137, 253);
        }
    }

    .sub_container {
        background-color: #151E1E;
        border: 2px solid white;
        border-radius: 10px;
        padding: 2% 2%;
        margin-bottom: 10px;


        .title {
            border-bottom: 2px solid white;
            padding-bottom: 3px;
            margin-top: 0%;
        }


        .box {
            color: rgb(193, 240, 255);
            font-weight: bold;
            display: inline-block;
            text-align: center;
            border: 1px solid white;
            border-radius: 5px;
            margin-right: 15px;
            margin-bottom: 5px;
            padding: 4px 8px;
        }

    }
}