.rune_box_container {
    display: flex;
    justify-content: space-around;
    min-height: 60vh;

    .rune_red_container,
    .rune_green_container {
        width: 33%;
        border-right: 2px solid white;
        padding: 5px 8px;
    }

    .rune_blue_container {
        width: 33%;
        padding: 5px 10px;
    }

    .rune_box {
        display: flex;
        align-items: center;
        margin: 10px 0 10px 10px;
        font-size: 16px;
        font-weight: bold;

        img {
            width: 50px;
        }

        .rune_box_name {
            margin-left: 5%;
        }
    }


}