#web_top {
    position: absolute;
    top: 0;
}

.to_top {
    border: 2px solid rgb(185, 185, 185);
    border-radius: 50%;
    position: fixed;
    right: 10%;
    bottom: 3%;
    z-index: 1000;

    &:hover {
        cursor: pointer;
    }

    div {
        color: white;
        padding: 5px;
    }
}